# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Docs
*.md

# Binaries
api
bin
*.exe

# Configs that shouldn't be baked into the image
# (we pass these via environment variables or mount them)
.env
config.yaml
